* {
  box-sizing: border-box;
  text-decoration: none;
  appearance: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma;
}

*:focus {
  appearance: none;
  border: none;
  outline: none;
}

html, body {
  overflow-y: auto;
}

#root {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  cursor: pointer;
}